.flightContainer {
  border: 2px solid red;
  box-shadow: 2px 2px 2px 5px;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 1.5em 0;
  background-color: darkgray;
}